// Body
$body-bg: #f8ffff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: #089494;

// Shadows
$box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.06);
$box-shadow-2: 0px 4px 6px 0px 0 0 30px 0 rgba(82,63,105,.05);
$box-shadow-3: 0 0.325rem 1.4rem -0.1875rem rgba(20, 20, 20, 0.028);

// Width Length
$wid1: 8.33333333333%;
$wid2: 16.666666666666667%;
$wid3: 25%;
$wid4: 33.333333333%;
$wid5: 41.666666667%;
$wid6: 50%;
$wid7: 58.3333333333%;
$wid8: 66.66666667%;
$wid9: 75%;
$wid10: 83.33333333333%;
$wid11: 91.66666666667%;
$wid12: 100%;