.inline-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	
	li {
		display: inline;
		padding-left: 10px;
		
		h2 {
			display: inline!important;
			padding-right: 20px;
			padding-left: 0!important;
			text-decoration: none!important;
		}
			
		a {
			text-decoration: none;
			color: gray;		
		}
	}
	
	li::last-child {
		border-left: 1px solid #ccc;
	}
}